.container{
    display: flex;
    height: 815px;
    background-color: rgb(0, 0, 0);
}
.box1{
    height: 815px;
    width: 807px;
    margin-left: 100px;
    margin-top: 50px;
}
.box2{
    height: 815px;
    width: 807px;
    background-color: beige;
    margin-top: 5px;
}
.box1 h1{
    position: absolute;
    left: 350px;
    top: 300px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: 	#7FFFD4;
}
.box1 h2{
    position: absolute;
    left: 350px;
    top: 350px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #4169E1;
}
.box1 h3{
    position: absolute;
    left: 350px;
    top: 400px;
    font-size: 25px;
    color: 	#00BFFF;
}
.box1 button{
    position: absolute;
    left: 350px;
    top: 450px;
    font-size: 25px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 110, 255);
    width: 450px;
}
button:hover{
    transition: 1s;
    background-color: rgb(0, 0, 0);
}
.box2{
    background-image: url(Adsız\ tasarım.png);

    border-radius: 30%;
}
.container2{
    display: flex;
    height: 815px;
    background-color: rgb(0, 0, 0);
}
.box3{
    height: 815px;
    width: 807px;
    margin-left: 100px;
    margin-top: 50px;
}
.box4{
    height: 815px;
    width: 807px;
    background-color: beige;
    margin-top: 5px;
}
.box3 h1{
    position: absolute;
    left: 350px;
    top: 1100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: 	#7FFFD4;
}
.box3 h2{
    position: absolute;
    left: 350px;
    top: 1150px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #4169E1;
}
.box3 h3{
    position: absolute;
    left: 350px;
    top: 1200px;
    font-size: 25px;
    color: 	#00BFFF;
}
.box3 button{
    position: absolute;
    left: 350px;
    top: 1250px;
    font-size: 25px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 110, 255);
    width: 450px;
}
button:hover{
    transition: 1s;
    background-color: rgb(0, 0, 0);
}
.box4{
    background-image: url(/image/IMG-20240305-WA0010_adobe_express.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30%;
}