
footer{
   
    background-color: #111111;
}

.footerContainer{
    width: 100%;
    padding: 30px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    
    text-decoration: none;
    padding: 11px;
    background-color: #fff;
    margin: 20px;
    border-radius: 50%;
    transition: 0.5s;
}

.socialIcons a i{
    font-size: 1em;
    color: rgb(0, 205, 219);
 }
 
 .socialIcons a:hover{
    background-color: #111;
    transform: scale(1.5);
    transition: 0.5s;
    box-shadow:0px 0px 10px 10px rgb(7, 255, 243);
 }
 
 .socialIcons a:hover i{
    color: white;
    transition: 0.5s;
 }
 


.footerNav{
    margin: 15px ;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    color: rgb(0, 217, 255);
    
}

.footerBottom{
    width: 99vw;
    padding-left: 330px;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.6;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}